.item{
    font-weight: 500;
    font-size: 20px;
    color: rgb(124, 126, 128);
    text-decoration: none;
}

.navbar-brand{
    margin-left: 2%;
}
.kid{
        color: #17A2B8;
        font-size:40px;
        font-weight: bold;
        margin-right: 100px;
        
}

@media only screen and (min-width: 200px) and (max-width: 900px)  {
    .kid{
        color: #17A2B8;
        font-size:20px;
        font-weight: bold; 
        margin: 0px;
        padding: 0px;   
}

}