@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Poppins&display=swap');
body{
    margin: 0px;
    padding: 0px;
}
.header{
    background: rgb(23,162,184);
    color:  white;
}

.left{
    margin-left: 60px;
    margin-top: 180px;
}

.left h5{
    font-size: 30px;
    font-family: 'Handlee', cursive;
    font-weight: 900;
}

.left h1{
    font-family: 'Handlee', cursive;
    font-weight: 900;
    font-size: 70px;

}

 
.right img{
    margin-top: 50px;
    width: 600px;
    
}

 

  

 /* 

  @media only screen and (max-width: 1300px) {
    .right img {
    width: 500px;
     
    }
  } */

.type-learn{
    font-family: 'Handlee', cursive;

}


.type-learn h4{
    font-size: 22px;
    color: #00427B;
    font-weight: bold;
}


 
 
 
.about-img{
     height: 500px;
     width: 400px;
     margin: 0rem 7rem auto;
     
}




.learn-about-right img{
    width: 200px;
    
}

.learn-about-right{
    margin-top: 70px;
     margin-left: 20px;
     font-family: 'Handlee', cursive;

}
 

.learn-about-right p>span{
    color: rgb(23,162,184);
     padding-left: 10px;
     padding-right: 10px;
     font-weight: bold;
     font-size: 17px;
}

.learn-about-right h6{
    color: rgb(23,162,184);
   font-size: 20px;
   margin-bottom: 20px;

}

.learn-about-right h2{
    color: #00394F;
    font-weight: 900;
    font-size: 35px;
    padding: 10 0px;
    margin-bottom: 20px;

}

.learn-about-right p{
    color: rgb(63, 64, 65);
     font-size: 18px;
   
}


.classesKids {
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}

.classesKids h5{
    color: rgb(23,162,184);
    font-family: 'Handlee', cursive;

}

.classesKids h1{
    color: #00394F;
    font-family: 'Handlee', cursive;
    font-weight: bold;

}


.teacher-section{
    margin: 0 5rem;
}

 .blog-section{
    margin-top: 100px;
 }


 @media only screen and (max-width: 800px) {
    .right img {
    width: 300px;
     
    }
  }



 @media only screen and (max-width: 600px) {
    .res-type-learn .col{
        display:  flex;
    }
    

}


 @media only screen and (max-width: 600px) {
    .about-img{
        height: 400px;
        width: 300px;
        margin: 0rem 2rem auto;
        
   }
  }